
@{
    ViewBag.Title = "LamDepPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container deal-section">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>Làm Đẹp</h3>
        <!-- <p>
          Today's hot deals handpicked by our Team. Hurry up before they run
          out!
        </p> -->
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal1.jpg"
                         width="370"
                         height="247"
                         alt="deal1" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>15%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 2% Tổng hóa đơn</h3>
                    <p>Giảm 10% cho khách hàng tới ở luôn vào tháng 4</p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 27-12-2015</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal2.jpg"
                         width="370"
                         height="247"
                         alt="deal2" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>10%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 5% Tổng hóa đơn</h3>
                    <p>Giảm 10% cho khách hàng tới ở luôn vào tháng 4</p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 26-12-2015</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal3.jpg"
                         width="370"
                         height="247"
                         alt="deal3" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>12%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 2% Tổng hóa đơn</h3>
                    <p>Giảm 10% cho khách hàng tới ở luôn vào tháng 4</p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 03-01-2016</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal4.jpg"
                         width="370"
                         height="247"
                         alt="deal4" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>8%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 3% Tổng hóa đơn</h3>
                    <p>Giảm 10% cho khách hàng tới ở luôn vào tháng 4</p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 03-01-2016</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal5.jpg"
                         width="370"
                         height="247"
                         alt="deal5" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>15%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 2% Tổng hóa đơn</h3>
                    <p>
                        Giảm 10% cho khách hàng tới ở luôn vào tháng 4
                    </p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 11-02-2016</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal6.jpg"
                         width="370"
                         height="247"
                         alt="deal6" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>10%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 2% Tổng hóa đơn</h3>
                    <p>
                        Giảm 10% cho khách hàng tới ở luôn vào tháng 4
                    </p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 26-02-2016</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal6.jpg"
                         width="370"
                         height="247"
                         alt="deal6" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>10%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 2% Tổng hóa đơn</h3>
                    <p>
                        Giảm 10% cho khách hàng tới ở luôn vào tháng 4
                    </p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 26-02-2016</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal6.jpg"
                         width="370"
                         height="247"
                         alt="deal6" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>10%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 2% Tổng hóa đơn</h3>
                    <p>
                        Giảm 10% cho khách hàng tới ở luôn vào tháng 4
                    </p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 26-02-2016</div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="dealbox">
                <div class="deal-thmbimg">
                    <img src="~/Content/images/deal6.jpg"
                         width="370"
                         height="247"
                         alt="deal6" />
                    <p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i><span>10%</span>
                    </p>
                </div>
                <div class="deal-content">
                    <h3>Hoàn lại 2% Tổng hóa đơn</h3>
                    <p>
                        Giảm 10% cho khách hàng tới ở luôn vào tháng 4
                    </p>
                    <a href="#" title="Lấy ngay" class="getdeal-btn">
                        <span class="get-coupencode">12xjuox</span>
                        <span class="getdeal">Lấy ngay</span>
                    </a>
                    <div class="expire"><span>Hạn sử dụng :</span> 26-02-2016</div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<div class="section-padding"></div>

