
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Deal Section -->
<div id="cart-section" class="container deal-section">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>Giỏ hàng của bạn</h3>
        <!-- <p>
          Hãy nhanh tay thêm vào giỏ hàng những ưu đãi, voucher !
        </p> -->
    </div>
    <div class="row">

        <div class="cart-section">
            <div class="col-md-3 col-sm-4 col-xs-6">

                <img src="~/Content/images/recentupdate3.jpg"
                     width="180"
                     height="180" />

            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>Đơn giá</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>Số lượng</p>

            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <p>Thành tiền</p>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <p>Thao tác</p>
            </div>

        </div>



    </div>
    <div class="section-padding"></div>
</div>



