
@{
    ViewBag.Title = "CategoryPromotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Voude.Areas.Admin.Models
@model IEnumerable<PARTNER>

<!-- PopularCategory -->
<div class="container popularcategory">
    <div class="section-padding"></div>
    <div class="section-header">
        <h3>Danh mục ưu đãi</h3>
        <!-- <p>Want more?Start by Exploring the categories</p> -->
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories1.jpg"
                         alt="categories1"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Espresso"></span>
                    <a href="#" title="Kitchen Item">Đồ gia dụng</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories2.jpg"
                         alt="categories2"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Phone"></span>
                    <a href="#" title="Mobile & Tablets">Đồ điện tử</a>
                </div>
            </div>
        </div>           
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories5.jpg"
                         alt="categories5"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-DesktopMonitor"></span>
                    <a href="#" title="Computers">Máy tính bàn</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories6.jpg"
                         alt="categories6"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-House"></span>
                    <a href="#" title="Furniture & Decor">Nội thất</a>
                </div>
            </div>
        </div>       
               
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories11.jpg"
                         alt="categories11"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Media"></span>
                    <a href="#" title="Entertainments">Giải trí</a>
                </div>
            </div>
        </div>
   
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories15.jpg"
                         alt="categories15"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Tag"></span>
                    <a href="#" title="Hotel Booking">Thuê khách sạn</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="categorybox">
                <div class="category-img">
                    <img src="~/Content/images/categories16.jpg"
                         alt="categories16"
                         width="270"
                         height="211" />
                </div>
                <div class="category-content">
                    <span class="icon icon-Truck"></span>
                    <a href="#" title="Automotive">Xe hơi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- PopularCategory /- -->
<!-- Shoping Brands -->
<div id="shopingbrands" class="container-fluid no-padding shopingbrands">
    <div class="section-padding"></div>
    <div class="container">
        <div class="section-header">
            <h3>Danh sách đối tác</h3>
            <!-- <p>All popular Stores listed, covering all Shopping needs.</p> -->
        </div>
        <div class="row">
            @foreach (PARTNER pn in Model)
            {
                <div class="col-md-2 col-sm-3 col-xs-3">
                    <div class="brandbox">
                        <img src="@pn.logo"
                             alt="@pn.alt"
                             width="178"
                             height="100" />
                        <a href="#" title="@pn.name" class="brand-content">
                            <span>Tiết kiệm đến</span><span class="off-per">@pn.percent</span><span>Tổng hóa đơn</span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- Shoping Brands /- -->
