
@{
    ViewBag.Title = "Đăng nhập/ Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Featured SignUp -->
<div class="container featuredsignup">
    <div class="section-padding"></div>
    <div class="row">
        <div class="section-header">
            <h3>ĐĂNG NHẬP</h3>
        </div>
        <form class="loginform" method="get" action="/Home/Login/">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-6">
                    <div class="form-group">
                        <input type="text"
                               required=""
                               class="form-control"
                               id="input_nameDN"
                               placeholder="Tên đăng nhập"
                               name="username" />
                    </div>

                </div>
                <div class="col-md-12 col-sm-12 col-xs-6">
                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               id="input_MKDN"
                               placeholder="Mật khẩu"
                               name="password" />
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-6">
                    <div class="form-group">
                        <input type="submit"
                               value="Đăng nhập"
                               id="btn_submit_DN"
                               title="Đăng nhập" />
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="featured-section">
                <div class="section-header">
                    <h3>Lợi ích khi là thành viên của voude</h3>
                    <p>Săn deal thả ga, giá cả siêu hời!</p>
                </div>
                <div class="featuredbox">
                    <h3>Hơn 300+ cửa hàng đối tác với hàng ngàn ưu đãi hấp dẫn</h3>
                    <p>
                        <span class="icon icon-ShoppingCart"></span>Để giúp các HLV có cơ hội nâng cấp đội hình mạnh mẽ, nay Cửa hàng tiện lợi FIFA Online 4 đã quay trở lại với hàng loạt mức khuyến mãi siêu khủng cùng hệ thống vật phẩm cực kì phong phú.


                    </p>
                </div>
                <div class="featuredbox">
                    <h3>Đội ngũ hỗ trợ 24/7</h3>
                    <p>
                        <span class="icon icon-Headset"></span>Đến với Cửa hàng tiện lợi của FIFA Online 4, các HLV sẽ được chào đón bởi hàng trăm deal giảm giá cực hấp dẫn gồm hàng loạt vật phẩm quen thuộc từ phổ thông tới siêu cấp với mức giá vô cùng ưu đãi.
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <div class="featured-section">
                <div class="section-header">
                    <h3>Đăng ký tại đây</h3>
                    <!-- <p>Today's hot deals handpicked by our Team up!</p> -->
                </div>
                <form class="signupform" method="post" action="/Home/RegisterCheck/">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <input type="text"
                                       required=""
                                       class="form-control"
                                       id="input_name"
                                       placeholder="Họ và tên*"
                                       name="name" />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <input type="email"
                                       required=""
                                       class="form-control"
                                       id="input_email"
                                       placeholder="Email *"
                                       name="email" />
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <input type="text"
                                       class="form-control"
                                       id="input_unm"
                                       placeholder="Tên đăng nhập"
                                       name="username" />
                            </div>
                        </div>
                        <!-- <div class="col-md-5 col-xs-6">
                          <a href="#" title="Check Availability">Check Availability</a>
                        </div> -->
                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <input type="password"
                                       class="form-control"
                                       id="input_pwd"
                                       placeholder="Mật khẩu"
                                       name="password" />
                            </div>
                        </div>
                        @*<div class="col-md-12 col-sm-12 col-xs-6">
                                <div class="form-group">
                                    <input type="password"
                                           class="form-control"
                                           id="input_cfmpwd"
                                           placeholder="Xác nhận mật khẩu"
                                           name="password"/>
                                </div>
                            </div>*@

                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <input type="submit"
                                       value="Đăng ký"
                                       title="Đăng ký" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section-padding"></div>
</div>
<!-- Featured SignUp /- -->
